engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
package-import-method=clone-or-copy

# Enforce pnpm
prefer-workspace-packages=true
use-node-version=18.18.0

# Lockfile settings
save-workspace-protocol=false
save-prefix=""